<div class="star">
  <svg
    class="outline"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 576 512"
    fill="none"
    stroke="#0090FF"
    stroke-width="3"
  >
    <path
      d="M528.1 171.5l-146.1-15.1L316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0l-65.3 138.6-146.1 15.1c-26.2 2.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-51.8-17.7-54.6z"
    />
  </svg>
  <svg
    *ngIf="isFull || isHalf"
    class="fill"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 576 512"
  >
    <defs>
      <linearGradient
        [attr.id]="'gradient-' + index"
        [attr.x2]="partialFill"
        spreadMethod="pad"
      >
        <stop offset="0" stop-color="#0090FF" stop-opacity="1"></stop>
        <stop
          [attr.offset]="partialFill"
          stop-color="#0090FF"
          stop-opacity="1"
        ></stop>
        <stop
          [attr.offset]="partialFill"
          stop-color="transparent"
          stop-opacity="1"
        ></stop>
        <stop offset="1" stop-color="transparent" stop-opacity="1"></stop>
      </linearGradient>
    </defs>
    <path
      d="M528.1 171.5l-146.1-15.1L316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0l-65.3 138.6-146.1 15.1c-26.2 2.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-51.8-17.7-54.6z"
      [attr.fill]="'url(#gradient-' + index + ')'"
    />
  </svg>
</div>
